/* selector universal - Fuente tomada de google */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Activar la fuente */
* {
  font-family: 'Ubuntu', sans-serif;
}

body{

}
/* selector descendente */
nav {
  background-color: rgba(27, 106, 167, 0.3);
  border-radius: 1em;
}

nav ul,
nav a,
li {
  text-align: center;
  list-style: none;
}

main {
  text-align: center;
  padding: 1em;
}

/* Formato de textos */

p {
  line-height: 1.1;
  color:rgb(148, 148, 148);
  font-weight: 200;

}


a {
  text-decoration: none;
  color: rgb(36, 36, 36);
}

h1{
  font-size: 2em;
  font-weight: 600;
}

h2{
  font-size: 1.8em;
}
/* separacion del footer */
.form {
  padding-bottom: 1em;
}

/* Fin de formatos de textos*/

/* Clases */
.img-ico {
  width: 12em;
}

.img-user {
  width: 2.5em;
  border-radius: 50%;
}

.hamburger{
  width: 1.5em;
}
.img-little {
  width: 2em;
}

.img-search {
  width: 1em;
}

.img-background {
height: 100%;
width: 60%;
object-fit: initial;
}

.img-sell {
  width: 10em;
  height: 10em;
  /* convierte a la imagen en 10em -10em de foto sin cambiar la escala */
  object-fit:initial;
}

/* no se porque pasa esto ("preguntas frecuentes" se corre) */
.correct-pad {
  padding: 0%;
}

.user-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact--form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  text-align: left;
}

.marg-form {
  border: 1px solid grey;
  border-radius: 5px;
}

/* division de caja de venta */
.sellBox {
  /* display: inline-block;
  width: 40%; */
  border-style: solid;
  border-color: rgba(44, 43, 43, 0.185);
  border-width: 1px;
  text-align: center;
  border-radius: 2%;
  padding: 1%;
}




/* Quienes somos */
.aboutimg{
height: 25em;
border-radius: 2%;
}

.gridcontact{
  flex-direction: column;
  text-align: left;
  margin: 1em;
  }


  /* Grid general */

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* foot general */
.gridfoot {
  grid-template-areas:
    "SM . ."
    ". Q1 Q2";

}

#SM {
  grid-area: SM;
}

#Q1 {
  grid-area: Q1;
}

#Q2 {
  grid-area: Q2;
}

/* grid compra */
.centertex {
  text-align: center;
}

.gridSell {
  row-gap: 1em;
  column-gap: 1em;
  grid-template-areas:
    "category search search"
    "box1 box2 box3"
    "box4 box5 box6"
  ;
  margin-bottom: 1em;
}

#category {
  grid-area: category;
}

#search {
  grid-area: search;
}

#box1 {
  grid-area: box1;
}

#box2 {
  grid-area: box2;
}

#box3 {
  grid-area: box3;
}

#box4 {
  grid-area: box4;
}

#box5 {
  grid-area: box5;
}


.botsell{
  width: 60%;
}

/* Color Theme Swatches in RGBA */
.ROG-Cooling-System-1-rgba {
  color: rgba(57, 10, 89, 1);
}

.ROG-Cooling-System-2-rgba {
  color: rgba(22, 65, 191, 1);
}

.ROG-Cooling-System-3-rgba {
  color: rgba(26, 39, 63, 1);
}

.ROG-Cooling-System-4-rgba {
  color: rgba(26, 128, 191, 1);
}

.ROG-Cooling-System-5-rgba {
  color: rgba(55, 242, 208, 1);
}



/* Responsive (agrego 992 segun el menu hamburguesa) 768 original */

@media (width < 768px) {

  /* Tienda */
  .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 1em; */
  }

  nav {
    flex-direction: column;
  }

  nav div ul{
    padding-left: 0em;
  }  


.text {
  font-weight: bold;
}
.aboutimg{
  width: 25em;
}

}

