.paddigCero{
  padding-left: 0em;
}

.aboutImg{
  height: 20em;
  width: 25em;
}

.gridAbout{
  grid-template-areas: 
  "b1 b2 b3";
  @media (width < 1210px) {
    grid-template-columns: 1fr 1fr;   
    grid-template-areas: "b1 b3"
    "b2 b2";
  }
}

#b1{
  grid-area: b1;
}

#b2 {
  grid-area: b2;
}

#b3 {
  grid-area: b3;
}