
*{
  font-family: $fontGeneral;
  box-sizing: border-box;
}

nav{
  background-color: $navColors;
  border-radius: 1em;
}

ul,a,li,img{
  text-align: center;
  list-style: none;
  text-decoration: none;
  color: $black;
};

main{
  text-align: center;
  padding: 1em 0em;
} 

.grid{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

// footer por debajo

body{
  @include flexMod (column);
  min-height: 100vh;
}

footer{
  margin-top: auto;
}

.imgSell{
  width: 150px;
  height: 150px;
  object-fit:  contain;
}

//Botones General

.btm{
  @include generalBottom(solid,$generalBtn,1px,1.1em,auto,0.5em,auto,auto);
  background-color: $white;
  &:hover{
  @include generalBottom(solid,$generalBtnH,1px,1.1em,auto,0.5em,auto,auto);
  transition: all 2s;
}
}


.sell{
    @include generalBottom(solid,$sellBtn,1px,1.1em,auto,0.5em,auto,auto);
    color: $sellBtn;
}

.compare{
    @include generalBottom(solid,$compareBtn,1px,1.1em,auto,0.5em,auto,auto);
    color: $compareBtn;
}

.appreciate{
    @include generalBottom(solid,$appreciateBtn,1px,1.1em,auto,0.5em,auto,auto);
    color: $black;
}

.return{
  @include generalBottom(solid,$returnBtn,1px,1.1em,auto,0.5em,auto,auto);
  color: $returnBtn;
}

