@media (width < 768px) {

  /* Tienda */
  .grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    flex-direction: column;
  }
}