//Forma de la nav

.imgIcono{
  width: 12em;
  &:hover{
    transform: rotate(-1080deg);
    cursor: pointer;
    transition: all 3s;

  };
}

.imgUser{
  width: 2.5em;
  border-radius: 50%;
}

.hamburger {
  width: 1.5em;
}

.distanceNav{
  margin-left: 0.5em;
}


// Parche de usuario centrado en mobile
.userCenter{
  @media (width < 768px) {
    @include flexMod(column);
  }
}

//Forma del footer

.gridfoot {
  grid-template-areas:
    "a3 a1 a2";
  div{
    text-align: center;
    ul{
      padding-left: 0em;
    }
  }
}

#a1 {
  grid-area: a1;
}

#a2 {
  grid-area: a2;
}

#a3 {
  grid-area: a3;
}

a:hover{
  color: $grey;
}

.imgSocialMedia{
  width: 2em;
}

.tittleNav{
  font-size: $textLarge;
  margin-bottom: 0em;
}