.userFlex{
  @include flexMod(row);
  justify-content: center;
}

.sellBox {
  @include generalBottom(solid,rgba(44, 43, 43, 0.185),1px,2%,0.4em,0.5em,350px,400px)
}
.sellBox:hover{
  border-color:rgba(44, 43, 43, 0.705) ;
}

.btn{
  @include generalBottom(solid,rgba(44, 43, 43, 0.185),1px,1.1em,auto,auto,auto,auto)
}

.afterSell{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  @media (width < 1210px) {
    grid-template-columns: 1fr 1fr;   
    align-items: center;
  }
  @media (width < 768px) {
    @include flexMod(column);
    align-items: center;
  }
}

