//correcion en la distancia de los botones
.marginBot{
  margin-bottom: 1em;
}
.rowFlex{
  @include flexMod(row);
  justify-content: center;
}

//Cajas generales de venta y calificacion
.sellBox {
  @include generalBottom(solid,$sellBoxColor,1px,2%,0.4em,0.5em,auto,auto);
  h2{
    font-size: $textLarge;
  }
  p.sold{
    font-size: $textSold;
    color: $soldColor;
    font-weight: bold;
  }
  p{
        display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &:hover{
  border-color:$sellBoxColorH 
}
  @media (width < 400px) {
  @include generalBottom(solid,$sellBoxColor,1px,1.1em,0.1em,0.4em,auto,330px);
  img.imgNO{
    visibility: hidden;
    height: 1em;
  }
  main{
    margin: 0%;
  }
  }
}

.sizeImg{
  height: 8em;
  width: 8em;
  object-fit: cover;
  &:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 1s;
  };
}


//Formato de Usuario y Venta

.gridSell {
  grid-template-areas:
    "category search search";
    justify-items: center;
    align-items: center;
  @media (width < 1210px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "category search"; 
  }
@media (width > 1400px) {
  width: 87.5em;
  margin-left: auto;
  margin-right: auto;
}
}
#category {
  grid-area: category;
}

#search {
  grid-area: search;
}

//buscador y filtro de compra

.filterBox{
  @include generalBottom(solid,$sellBoxColor,1px,1.1em,auto,0.5em,max,400px);
  @media (width < 1210px) {
    @include generalBottom(solid,$sellBoxColor,1px,1.1em,auto,0.4em,auto,330px);
  }
}

// parche de tamaño 
.searchBox{
  @include generalBottom(solid,$sellBoxColor,1px,1.1em,auto,0.4em,auto,700px);
  @media (width < 1210px) {
    @include generalBottom(solid,$sellBoxColor,1px,1.1em,auto,0.4em,auto,330px);
  }
}

