//Colores Generales
$grey: rgb(148, 148, 148);
$black: rgb(36, 36, 36);
$sellBoxColor: rgba(44, 43, 43, 0.185);
$navColors:rgba(27, 106, 167, 0.3);

//Fuente
$fontGeneral:'Ubuntu', sans-serif;

//Tamaño de Texto
$textSmall: 0.8em;
$textMedium: 1em;
$textLarge: 1.5em;
$textXlarge: 3em;